{% include 'Navbaradmin.html.twig' %}

    {% block css %}
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600') }}">
        <link rel="stylesheet" href="{{ asset('css2/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/fullcalendar.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/tooplate.css') }}">
    {% endblock %}


{% block body %}
    <h1 style="padding-left: 575px;padding-top: 20px;color: white">Vos Commandes</h1>
<div style="padding-top: 40px" class="px-4 px-lg-0">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">IDCommande</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Date de Commande</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Status</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Mode de Paiement</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Adresse de Livraison</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Frais de Livraison</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Total</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Afficher</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Modifier</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Supprimer</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            </td>

                            {% for commande in commandes %}
                                <tr>
                                    <td>{{ commande.id }}</td>
                                    <td>{{ commande.orderDate ? commande.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ commande.status }}</td>
                                    <td>{{ commande.modePaiement }}</td>
                                    <td>{{ commande.adresseLivraison }}</td>
                                    <td>{{ commande.fraisLivraison }}</td>
                                    <td>{{ commande.total }}</td>
                                    <td><a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}">Afficher</a></td>
                                    <td><a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}">Modifier</a>
                                    </td>
                                    <td>{{ include('commande_admin/_delete_form.html.twig') }}</td>


                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ path('app_admin_commande_new') }}">Ajouter une commande</a>

                    </div>
                    <!-- End -->
                </div>
            </div>

            {% endblock %}

        </div>
    </div>
</div>