<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des Paniers</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Liste des Paniers</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Quantité</th>
        <th>Prix Unitaire</th>
        <th>Sous-total</th>
        <th>Produit</th>
        <!-- Ajoutez d'autres colonnes au besoin -->
    </tr>
    </thead>
    <tbody>
    {% for panier in paniers %}
        <tr>
            <td>{{ panier.id }}</td>
            <td>{{ panier.qte }}</td>
            <td>{{ panier.prixUnite }}</td>
            <td>{{ panier.sousTotal }}</td>
            <td>{{ panier.idproduit.nom }}</td>
            <!-- Assurez-vous d'adapter l'affichage des propriétés selon vos besoins -->
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
