{% include 'Navbar.html.twig' %}
{% block css %}
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/owl-carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tooplate-artxibition.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Panierindex.css') }}">
{% endblock %}


{% block body %}
    <h1 style="padding-left: 650px;padding-top: 20px">Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IDProduit</th>
                <td>{{ panier.id }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ panier.qte }}</td>
            </tr>
            <tr>
                <th>PrixUnite</th>
                <td>{{ panier.prixUnite }}</td>
            </tr>
            <tr>
                <th>SousTotal</th>
                <td>{{ panier.sousTotal }}</td>
            </tr>
            <tr>
                <th>Retour</th>
                <td><a href="{{ path('app_panier_index') }}" style="color: black">Retour à la liste</a></td>
            </tr>
            <tr>
                <th>Modifier</th>
                <td><a href="{{ path('app_panier_edit', {'id': panier.id}) }}" style="color: black">Modifier</a></td>
            </tr>
            <tr>
                <th>Supprimer</th>
                <td> {{ include('panier/_delete_form.html.twig') }}</td>
            </tr>

        </tbody>
    </table>
{% endblock %}
{% include 'Footer.html.twig' %}