{% extends 'base.html.twig' %}

{% block title %} Liste des Abonnements{% endblock %}

{% block body %}
    <h1>Abonnement index</h1>
    <style>
        .table th {
            padding-right: 10px; /* Ajoute un espace de 10px entre les éléments de l'en-tête de tableau */
        }
    </style>
    <table class="table">
        <thead>
            <tr>
                <th>IdAbonnement</th>
                <th>userID</th>
                <th>Idpack</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.idAbonnement }}</td>
                <td>{{ abonnement.userID }}</td>
                <td>{{ abonnement.IdPack }}</td>
                <td>{{ abonnement.datedeb|date('Y-m-d H:i:s') }}</td>
                <td>{{ abonnement.datefin|date('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('app_abonnement_show', {'idAbonnement': abonnement.idAbonnement}) }}">show</a>
                    <a href="{{ path('app_abonnement_edit', {'idAbonnement': abonnement.idAbonnement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_abonnement_new') }}">Create new</a>
{% endblock %}
