{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCommande</th>
                <th>OrderDate</th>
                <th>Status</th>
                <th>ModePaiement</th>
                <th>AdresseLivraison</th>
                <th>FraisLivraison</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idCommande }}</td>
                <td>{{ commande.orderDate ? commande.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.modePaiement }}</td>
                <td>{{ commande.adresseLivraison }}</td>
                <td>{{ commande.fraisLivraison }}</td>
                <td>{{ commande.total }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'idCommande': commande.idCommande}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'idCommande': commande.idCommande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
