{% include 'Navbar.html.twig' %}
{% block css %}
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/owl-carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tooplate-artxibition.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Panierindex.css') }}">
{% endblock %}


{% block body %}
    <h1 style="padding-left: 650px;padding-top: 20px">Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>OrderDate</th>
                <td>{{ commande.orderDate ? commande.orderDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ commande.status }}</td>
            </tr>
            <tr>
                <th>ModePaiement</th>
                <td>{{ commande.modePaiement }}</td>
            </tr>
            <tr>
                <th>AdresseLivraison</th>
                <td>{{ commande.adresseLivraison }}</td>
            </tr>
            <tr>
                <th>FraisLivraison</th>
                <td>{{ commande.fraisLivraison }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }}</td>
            </tr>
            <tr>
            <th>Retour</th>
            <td><a href="{{ path('app_commande_index') }}" style="color: black">Retour à la liste</a></td>
            </tr>
            <tr>
                <th>Modifier</th>
                <td><a href="{{ path('app_commande_edit', {'id': commande.id}) }}" style="color: black">Modifier</a></td>
            </tr>
            <tr>
                <th>Supprimer</th>
                <td> {{ include('commande/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
{% include 'Footer.html.twig' %}