{% extends 'base.html.twig' %}

{% block title %}Pack{% endblock %}

{% block body %}
    <h1>Liste des Packs </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPack :</th>
                <td>{{ pack.idPack }}</td>
            </tr>
            <tr>
                <th>TypePack :</th>
                <td>{{ pack.typePack }}</td>
            </tr>
            <tr>
                <th>Prix :</th>
                <td>{{ pack.prix }}</td>
            </tr>
            <tr>
                <th>Avantage :</th>
                <td>{{ pack.avantage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pack_index') }}">back to list</a>  
    &nbsp;&nbsp; 

    <a href="{{ path('app_pack_edit', {'idPack': pack.idPack}) }}">edit</a>


    {{ include('pack/_delete_form.html.twig') }}
{% endblock %}
