
{% include 'Navbaradmin.html.twig' %}

    {% block css %}
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600') }}">
        <link rel="stylesheet" href="{{ asset('css2/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/fullcalendar.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/tooplate.css') }}">
    {% endblock %}

{% block body %}
    <h1 style="padding-left: 650px;padding-top: 20px;color: white">Votre Panier</h1>
    <div style="padding-top: 40px" class="px-4 px-lg-0">

        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">IDProduit</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Quantité</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">PrixUnité</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">SousTotal</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Afficher</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Modifier</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Supprimer</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                </td>

                                {% for panier in paniers %}
                                    <tr>
                                        <td>{{ panier.id }}</td>
                                        <td>{{ panier.qte }}</td>
                                        <td>{{ panier.prixUnite }}</td>
                                        <td>{{ panier.sousTotal }}</td>
                                        <td><a href="{{ path('app_admin_panier_show', {'id': panier.id}) }}">Afficher</a></td>
                                        <td><a href="{{ path('app_admin_panier_edit', {'id': panier.id}) }}">Modifier</a>
                                        </td>
                                        <td>{{ include('panier_admin/_delete_form.html.twig') }}</td>


                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('app_admin_panier_new') }}">Ajouter au Panier</a>

                        </div>
                        <!-- End -->
                    </div>
                </div>



            </div>
        </div>
    </div>


{% endblock %}

