{% include 'Navbaradmin.html.twig' %}

    {% block css %}
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600') }}">
        <link rel="stylesheet" href="{{ asset('css2/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/fullcalendar.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/tooplate.css') }}">
    {% endblock %}


{% block body %}
    <h1 style="padding-left: 650px;padding-top: 20px;color: white">Produit</h1>

    <table class="table">
        <tbody>
        <tr>
            <th style="color: white">IDProduit</th>
            <td>{{ panier.id }}</td>
        </tr>
        <tr>
            <th style="color: white">Quantité</th>
            <td>{{ panier.qte }}</td>
        </tr>
        <tr>
            <th style="color: white">PrixUnite</th>
            <td>{{ panier.prixUnite }}</td>
        </tr>
        <tr>
            <th style="color: white">SousTotal</th>
            <td>{{ panier.sousTotal }}</td>
        </tr>
        <tr>
            <th style="color: white">Retour</th>
            <td><a href="{{ path('app_admin_panier_index') }}" style="color: white">Retour à la liste</a></td>
        </tr>
        <tr>
            <th style="color: white">Modifier</th>
            <td><a href="{{ path('app_admin_panier_edit', {'id': panier.id}) }}" style="color: white">Modifier</a></td>
        </tr>
        <tr>
            <th>Supprimer</th>
            <td> {{ include('panier_admin/_delete_form.html.twig') }}</td>
        </tr>

        </tbody>
    </table>
{% endblock %}
