<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ajouter un abonnement</title>
</head>

<body>
    <h1>Ajouter un abonnement:</h1>
    {{ form_start(AbonnementType, {'attr': {'class': 'form-horizontal'}, 'action': path('/abonnement/'), 'method': 'POST'}) }}
    <table>
        <tr>
            <td>{{ form_label(AbonnementType.userID, "Entrez l'identifiant de l'utilisateur :") }}</td>
            <td>{{ form_widget(AbonnementType.userID) }}</td>
            <td>{{ form_errors(AbonnementType.userID) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(AbonnementType.idPack, "Entrez l'identifiant de votre pack :") }}</td>
            <td>{{ form_widget(AbonnementType.idPack) }}</td>
            <td>{{ form_errors(AbonnementType.idPack) }}</td>
        </tr>
    
        <tr>
            <td>{{ form_label(AbonnementType.startDate, "Entrez votre date de début :") }}</td>
            <td>{{ form_widget(AbonnementType.startDate) }}</td>
            <td>{{ form_errors(AbonnementType.startDate) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(AbonnementType.endDate, "Entrez votre date de fin :") }}</td>
            <td>{{ form_widget(AbonnementType.endDate) }}</td>
            <td>{{ form_errors(AbonnementType.endDate) }}</td>
        </tr>
    </table>
    {{ form_widget(AbonnementType.add) }}
    {{ form_end(AbonnementType) }}
    

</body>
</html>