
{% include 'base2.html.twig' %}

    {% block css %}
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600') }}">
        <link rel="stylesheet" href="{{ asset('css2/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/fullcalendar.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css2/tooplate.css') }}">
    {% endblock %}

{% block body %}
    <h1 style="text-align: center; padding-top: 20px; color: white; font-family: 'Open Sans', sans-serif; font-weight: bold; text-shadow: 2px 2px 4px #888888; margin-bottom: 40px;">Liste des Abonnements</h1>


    <div style="padding-top: 40px" class="px-4 px-lg-0">


        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">IdAbonnement</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">userID</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">idPack</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">datedeb</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">datefin</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Afficher</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Modifier</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Supprimer</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                    </td>

                                    {% for abonnement in abonnements %}
                                        <tr>
                                            <td>{{ abonnement.idAbonnement }}</td>
                                            <td>{{ abonnement.userID }}</td>
                                            <td>{{ abonnement.IdPack }}</td>
                                            <td>{{ abonnement.datedeb|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ abonnement.datefin|date('Y-m-d H:i:s') }}</td>
                                
                                        <td><a href="{{ path('app_admin_abonnement_show', {'idAbonnement': abonnement.idAbonnement}) }}">Afficher</a></td>
                                        <td><a href="{{ path('app_admin_abonnement_edit', {'idAbonnement': abonnement.idAbonnement}) }}">Modifier</a></td>
                                        <td>{{ include('admin_abonnement/_delete_form.html.twig') }}</td>


                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('app_admin_abonnement_new') }}">Ajouter abonnement</a>

                        </div>
                        <!-- End -->
                    </div>
                </div>



            </div>
        </div>
{% endblock %} 
<hr>

