{% include 'Navbar.html.twig' %}
{% block css %}
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/owl-carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tooplate-artxibition.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Panierindex.css') }}">
{% endblock %}





{% block body %}
    <h1 style="padding-left: 650px;padding-top: 20px">User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Userid</th>
                <td>{{ user.userid }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Passwd</th>
                <td>{{ user.passwd }}</td>
            </tr>
            <tr>
                <th>Signupdate</th>
                <td>{{ user.signupdate ? user.signupdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.tel }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
{% include 'Footer.html.twig' %}